<html>

<head>
    <title>Node.js Desktop Application using Electron, Bootstrap and Express.js</title>
    <%- include ('partials/head') %>

</head>

<body>
    <header>
        <%- include ('partials/header') %>
    </header>
    <div class="container">
        <button class="btn btn-primary" id="testBtn">Test</button>
        <br>
        <h1 id="testH1">I'm an h1</h1>
        <button class="btn btn-secondary" id="goToSelectsBtn">Go To Selects</button>
    </div>

    <script src="/javascripts/indexHandler.js"></script>


    <footer style="margin-top:0;">
        <%- include ('partials/footer') %>
    </footer>
</body>

</html>